/* Root colors and fonts */

:root {
    --Nutmeg: hsl(14, 45%, 36%); /* Brandy Red */
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%); /* Snow */
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%); /* White Coffe */
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}

@font-face {
    font-family: "YoungSerif";
    src: url("../fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/outfit/Outfit-VariableFont_wght.ttf");
}

body {
    margin: 0;
    padding: 0;
}

/* Hero image */

.hero-image-div {
    margin: 40px;
}

.hero-image {
    width: 100%;
    object-fit: fill;
    border-radius: 12px;
}

/* Content */

.content-div {
    margin: 0 40px;
}

/* Text */

.heading-l {
    font-family: "YoungSerif";
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    color: var(--Dark-Charcoal);
}

.heading-m {
    font-family: "YoungSerif";
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    color: var(--Nutmeg);
}

.heading-s {
    font-family: "Outfit";
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
    color: var(--Dark-Raspberry);
}

.body-reg {
    font-family: "Outfit";
    font-size: 16px;
    line-height: 1.6;
    font-weight:normal;
    color: var(--Wenge-Brown);
}

.body-bold {
    font-family: "Outfit";
    font-size: 16px;
    line-height: 100%;
    font-weight: bold;
    color: var(--Wenge-Brown);
}

.body-bold-nutmeg {
    font-family: "Outfit";
    font-size: 16px;
    line-height: 100%;
    font-weight: bold;
    color: var(--Nutmeg);
}

/* General properties */

/* Margins */

.ml-16 {
    margin: 16px;
}

.ml-28 {
    margin: 28px;
}

/* paddings */

.pl-16 {
    padding-left: 16px;
}

.pl-28 {
    padding-left: 28px;
}

.pl-32 {
    padding-left: 32px;
}

.py-32 {
    padding: 32px 0;
}

.pb-32 {
    padding-bottom: 32px;
}

.pt-32 {
    padding-top: 32px;
}

/* Preparation time */

.prep-time {
    padding: 28px;
    background-color: var(--Rose-White);
}

/* List */
ol, ul {
    padding: 0;
}

li {
    font-family: "Outfit";
    font-weight: bold;
    color: var(--Nutmeg);
}

::marker {
    margin-left: 8px;
}

/* Table */

table {
    width: 100%;
}

/* Attribution */

.attribution {
    font-size: 11px; text-align: center;
    margin-top: 40px;
}

.attribution a {
    color: var(--Nutmeg);
    font-family: "Outifit";
    font-weight: bold;
}

/* Mobile */

@media screen and (max-width:600px) {
    /* Hero Image */

    .hero-image-div {
        margin: 0px;
    }

    .hero-image {
        border-radius: 0;
    }

    /* Headings */

    .heading-l {
        font-size: 32px;
    }

}